<div class ="col-lg-12">
<%= render 'shared/workshop',workshops: @upcoming_workshops,section_title: "Upcoming Workshop"%>
<%= render 'shared/workshop',workshops: @past_workshops,section_title: "Past Workshop"%>
<%= link_to "new",new_admin_user_session_path%>
</div>